/* Navbar code */

.navb {
  background-color: #4e5944;
  padding: 40px 0px 40px 0px;
}

.logo {
  width: 75%;
  margin: auto;
  display: flex;
}

.navb-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.text1 {
  padding: 0px 15px 0px 15px;
  font-size: 14px;
  font-family: serif;
  color: white;
}

.text2 {
  padding: 0px 15px 0px 15px;
  font-size: 14px;
  font-family: serif;
  color: #b8c6ac;
}

a.text2 :hover {
  color: white !important;
}

/* first container */

.first-con {
  margin-top: 3px;
  background-color: #e1e1d0;
  padding-top: 15px;
}

.first {
  background-color: #e9e9e9;
  width: 958px;
  height: 384px;
  border: 1px solid white;
  box-shadow: 0px 0px 10px gray;
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: auto;
}

.text-f-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.p1-f {
  font-size: 30px;
  color: #4e5944;
  font-family: serif;
  padding-left: 1rem;
}

.p2-f {
  padding-left: 2rem;
  font-size: 25px;
  color: #4e5944;
  font-family: serif;
}

.img-f-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Second container */

.second-con {
  background-color: #ebebe0;
  margin-top: 3px;
}

.second {
  display: flex;
  width: 73%;
  margin: auto;
  padding: 12px 0px 12px 0px;
}

.second-left {
  border-right: 1px dotted black;
  padding: 0px 30px 0px 0px;
}

.second-right {
  padding: 0px 0px 0px 25px;
}

.h1-s {
  font-family: serif;
  padding-bottom: 1rem;
  color: #57614e;
}

.h1-sl {
  font-size: 32px;
}

.h1-sr {
  font-size: 24px;
}

p a {
  color: #626262;
}

.p-s {
  font-size: 14px;
  color: #626262;
}

.p-bottom {
  text-align: right;
  padding-right: 25px;
}

/* third container */

.third {
  background-color: #b7bbb3;
  padding: 30px 0px;
  margin-top: 3px;
}

.third-all {
  width: 73%;
  margin: auto;
}

.third-four {
  display: flex;
  flex-direction: row;
}

.third-box {
  margin: 0px 5px;
}

.third-img {
  border: 5px solid rgba(231, 231, 231, 0.8);
  box-shadow: 0px 1px 5px black;
}

.third-all h1 {
  margin-bottom: 2rem;
  color: #646e58;
  font-size: 24px;
  font-family: serif;
  letter-spacing: 2px;
}

.third-box h1,
img,
p,
button {
  margin: 0px;
  margin-bottom: 20px;
}

.third-box button {
  font: 12px/28px Arial, Helvetica, sans-serif;
  height: 28px;
  width: 97px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #4e5944;
  border: none;
  border-radius: 1px;
}

.third-box h1 {
  color: #3f3e3e;
  font: 14px/24px Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0px;
  margin-bottom: 10px;
}

.third-box p {
  color: #3f3e3e;
  font: 14px/24px Arial, Helvetica, sans-serif;
}

/* forth container */

.fourth {
  background-color: #c9ccc7;
  margin-top: 3px;
}

.fourth-all {
  width: 73%;
  margin: auto;
  display: flex;
  padding: 27px 0px;
}

.fourth-box {
  padding: 0px 15px 0px 30px;
}

.box-1,
.box-2 {
  border-right: 1px dotted gray;
}

.box-3 button {
  height: 38px;
  line-height: 38px;
  width: 212px;
  color: #fff;
  display: inline-block;
  font: 12px/28px Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border: none;
  background-color: #4e5944;
  border-radius: 2px;
}

.box-3 button :hover {
  background-color: black;
}

.fourth-box h1 {
  color: #626262;
  font: bold 13px/24px Arial, Helvetica, sans-serif;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.fourth-box p {
  color: #626262;
  font: 12px/24px Arial, Helvetica, sans-serif;
}
